packages/bootstrap.3.4.1/
packages/jQuery.3.4.1/
packages/
NetFrameworkApp_Before/obj/Debug/
NetFrameworkApp.backup/obj/Debug/
NetFrameworkApp.backup/bin/Debug/
NetFrameworkApp_Before/bin/Debug/
.vs/
*.cache
BookStoreConsoleUI/bin/
BookStoreConsoleUI/obj/
BookStorePersistence/bin/
BookStorePersistence/obj/
BookStoreService/bin/
BookStoreService/obj/
BookStoreServiceTest/bin/
BookStoreServiceTest/obj/
BookStoreWPF_UI/bin/
BookStoreWPF_UI/obj/
CSharp8OrLater/bin/
CSharp8OrLater/obj/
Exampleprj/bin/
Exampleprj/obj/
LINQ/bin/
LINQ/obj/
NetCoreMVCApp/bin/
NetCoreMVCApp/obj/
NetFrameworkApp/bin/
NetFrameworkApp/obj/
